/* You can add global styles to this file, and also import other style files */
/* site-overlay show */
.site-overlay{
	transition: visibility 0s,opacity .1s linear;
}
.site-overlay.show{
	visibility:visible;
	opacity: 1;
	background: rgba(5, 11, 14, 0.80);
}

.noScroll{
    overflow: hidden;
}

.mobile .container-p10{
	padding: 10px;
}

.header-logo__img{
	width:50%;
}
.mobile .site-content{
	margin-top: 10px;
}
.section, .site-content{
	padding:0 !important;
}

.mobile #header-mobile{
	/*position:fixed !important;
	z-index:999;*/
}

.mobile .header-mobile__logo-img{
	/*margin-top:10px;*/
	width: 80px !important;
    height: auto;
}

.mobile .header-mobile__inner{
	height: 65px !important;
	background: #54068f !important;
}

.mobile .burger-menu-icon{
	top: 30px !important;
}

.header-mobile__userInfo {
    display: block;
    position: absolute;
    right: 20px;
    top: 23px;
    /*width: 24px;*/
    height: 24px;
    line-height: 24px;
    font-size: 22px;
    color: #fff;
    text-align: right;
}

.header-mobile__userInfo.right {
    right: 20px;
    text-align: right;
}

.header-mobile__userInfo.left {
    left: 20px;
    text-align: left;
	right: auto;
}

.mobile .info-block__heading{
	margin-bottom:-7px !important;
}
.mobile .info-block__cart-sum{
	font-family: Exo\ 2,sans-serif;
	font-size: 15px !important;
    color: #ffeb3b !important;
    text-align: right !important;
}

.mobile .card {
    border: none !important;
    border-radius: 4px;
    background-color: #030c27;
    margin-bottom: 15px;
}

.mobile .card__header {
    padding: 27px 23px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    border-bottom: 1px solid #202020;
    overflow: hidden;
    background-color: #030c27;
}

.mobile .table {
    width: 100%;
    max-width: 100%;
    color: #9e9caa;
}

.mobile .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #22272e;
    font-weight: 700;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
	background: #0c2461;
}

.mobile .widget-standings .table-standings>tbody>tr>td {
    vertical-align: middle;
    color: #fff;
    text-align: center;
	border-top: 1px solid #181c21;
	font-size: 12px;
}

.mobile h1, .mobile h2, .mobile h3, .mobile h4, .mobile h5, .mobile h6 {
    color: #fff;
    margin: 0 0 .75em;
    font-weight: 700;
    line-height: 1.2;
    font-family: Exo\ 2,sans-serif;
    letter-spacing: -.02em;
}

.widget-standings .table-standings>tbody>tr>td:first-child>.team-meta:before{
	display:none !important;
}
.widget-standings .table-standings>tbody>tr>td:first-child, .widget-standings .table-standings>thead>tr>th:first-child{
	padding-left: 10px !important;
	width: 150px;
}
.widget-standings .table-standings>tbody>tr>td:last-child, .widget-standings .table-standings>thead>tr>th:last-child{
	padding-right: 10px !important;
}
body{
	/*background-color: #14171b !important;*/
}

.table-hover>tbody>tr:hover {
    color: #9a9da2 !important;
    background-color: rgba(2,51,100,0.41) !important;
}
.no-bold{
	font-weight:normal !important;
}

.section-title{
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: -.02em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: normal;
	color:#54078f !important;
	border-left: 3px solid #f9be14;
    padding-left: 10px;
    border-radius: 2px;
}

h5.subsection-title{
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: -.02em;
    margin-bottom: 5px;
    text-transform: normal !important;
    font-style: normal;
	color:#fff !important;
	/*border-left: 3px solid #f9be14;
    padding-left: 10px;
    border-radius: 2px;*/
}

h3.vs{
	color: #fff;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    font-family: Exo\ 2,sans-serif;
    letter-spacing: -.02em;
	display:inline-block;
	font-size:12px;
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.bg-gradient{  
    background: linear-gradient(#2e383f,#1b2125) !important;
	-webkit-transition: background 1s ease-out !important;
     -moz-transition: background 1s ease-out !important;
       -o-transition: background 1s ease-out !important;
          transition: background 1s ease-out !important;
}

.game-datetime-info{
	padding-top: 5px;
	font-size:12px;
}
.date{
	color:#b0bec5;;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}