<div class="site-wrapper clearfix">
          <app-header></app-header>         
         <!-- Content
            ================================================== -->
         <div class="site-content">
			 
                   <app-storybook></app-storybook>
                     
            <div class="container">
               <div class="row">
                  <!-- Content -->
                  <div class="content col-lg-8">
                     <!-- Featured News -->
                     <!-- Featured News / End --><!-- Post Area 1 -->
                     
                     <!-- Main News Banner -->
                     <promo-banner></promo-banner>
                  <cards-bolao></cards-bolao>
 					 <featured-games sectionTitle="Divirta-se e ganhe!"></featured-games>
                  </div>
                  <!-- Content / End --><!-- Sidebar -->
                  <div id="sidebar" class="sidebar col-lg-4">
                     <!-- Widget: Standings -->
                     <table-game sectionTitle="Jogos disponíveis"></table-game>
                     <!-- Widget: Standings / End --><!-- Widget: Social Buttons - Condensed-->
                     
                     <!-- Widget: Popular News / End --><!-- Widget: Featured Player -->
                     <aside class="widget card widget--sidebar widget-player widget-player--soccer">
                        <div class="widget__content card__content">
                           <div class="widget-player__ribbon">
                              <div class="fas fa-star"></div>
                           </div>
                           <figure class="widget-player__photo"><img src="assets/images/soccer/samples/_soccer_widget-featured-player.png" alt=""></figure>
                           <header class="widget-player__header clearfix">
                              <div class="widget-player__number">0</div>
                              <h4 class="widget-player__name"><span class="widget-player__first-name">A bola é</span> <span class="widget-player__last-name">sua!</span></h4>
                           </header>
                           
                        </div>
                     </aside>
                     
                  </div>
                  <!-- Sidebar / End -->
               </div>
            </div>
         </div>
         <!-- Content / End -->
         <!-- Footer / End -->
	 
      </div>