.card{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Montserrat,sans-serif;
}

.fas{
 -webkit-text-stroke: 1px #54078f;
 -webkit-text-fill-color: transparent;
}

.title{
    color: #54078f;
}

label.title{
    color: #444;
}

.top-container{
    display: flex;
    align-items: center;
}
.profile-photo{
    position: relative;
}

.profile-photo input{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    opacity: 0;
    z-index: 9999999;
}
.profile-image{
    border-radius: 50%;
    border: 4px solid #54078f;
    width: 70px;
    height: 70px;
}
.name{
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px;
}
.name small{
    display: block;
}
.name small b{
    color: #54078f;
}

.mail{
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px;
}
.middle-container{
    background-color: #edeff4;
    border-radius: 8px;

}
.middle-container:hover {
    border: 1px solid #54078f;
}
.dollar-div{
    background-color: #54078f;
    padding: 12px;
    border-radius: 8px;
}
.round-div{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dollar{
    font-size: 16px !important;
    color: #54078f !important;
    font-weight: bold !important;
}


.current-balance{
    font-size: 15px;
    color: #272727;
    font-weight: normal;
}
.amount{
    color: #54078f;
    font-size: 16px;
    font-weight: bold;
}
.dollar-sign{
    font-size: 16px;
    color: #272727;
    font-weight: bold;
}

.recent-border{
    border-left: 2px solid #54078f;
    display: flex;
    align-items: center;

}
.recent-border:hover {
    border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
    font-size: 16px;
    font-weight: 700;
    color: #54078f;
    margin-left: 2px;
}

.wishlist{
    font-size: 16px;
    font-weight: 700;
    color: #272727;

}
.wishlist-border:hover{
    border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
    font-size: 16px;
    font-weight: 700;
    color: #272727;
}
.fashion-studio-border:hover {
    border-bottom: 1px solid #dee2e6!important;
}

.actions{
    margin-top: 10px;
}

.link{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
    color: #272727;
    font-weight:  normal;
}

.link i{
    margin-right: 5px;
}

.link:hover {
    border-bottom: 1px solid #dee2e6!important;
}

.link.action{
    background: #f5dd48;
    text-align: center;
    line-height: 30px;
    height: 40px;
}

.link.action.disabled{
    opacity: 0.4;
    background: #9e9e9e;
    color: #333;
    pointer-events: none;
}

.link.action.disabled i{
    -webkit-text-stroke: 1px #333;
    -webkit-text-fill-color: transparent;
}

.link.action.success{
    background: #4caf50;
    color: #fff;
}

.link.action.success i{
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
}

.btn-camera{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    border: 0;
    color: #ddd;
    background: #f5dd48;
}

.btn-camera i{
    -webkit-text-stroke: 1px #54078f;
    -webkit-text-fill-color: transparent;
}


.alert{
    margin-top: 5px;
    margin-bottom:  0;
    height: 60px;
    padding: 2px;
    padding-left: 70px;
    padding-right: 3px;
    border-radius: 10px;
}
.alert-warning:before{
    background-color: #ffc107;
}
.alert small{
    display: block;
    line-height: normal;
}

.form{
    margin-top: 15px;
}

.form-group .input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background: #ddd;
    border: none !important;
    padding-left: 15px;
}

.zipcode .form-group .input{
    width: 75%;
}

.zipcode .action{
    margin-top: 10px;
    background: #4caf50;
    color: #fff;
}

.zipcode .action i{
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
}

.form-group .input::placeholder{
    color: #333;
}

.success{
    text-align: center;
}

.success p{
    line-height: normal;
    font-size: 15px;
    color: #444;
}

.success .main-title{
    color: #59d693 !important;
}

.msgError{
    text-align: center;
    line-height: normal;
    padding: 10px;
    color: #f44336;
    border: 1px solid #f44336;
    border-radius: 10px;
    margin-bottom: 10px;
}

.account-form .card{
    margin-bottom: 100px;
}