.card{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Montserrat,sans-serif;
}

.fas{
 -webkit-text-stroke: 1px #54078f;
 -webkit-text-fill-color: transparent;
}

.top-container{
    display: flex;
    align-items: center;
}
.profile-photo{
    position: relative;
}
.profile-image{
    border-radius: 50%;
    border: 4px solid #54078f;
    width: 70px;
    height: 70px;
}

.badge{
    position: absolute;
    width: 40px;
    height: 40px;
    right: -15px;
    bottom: -5px;
    border-radius: 50%;
    border: 0;
    background: transparent;
}
.badge img{
    border-radius: 50%;
}
.name{
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px;
}
.name small{
    display: block;
}
.name small b{
    color: #54078f;
}

.mail{
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px;
}
.middle-container{
    background-color: #edeff4;
    border-radius: 8px;

}
.middle-container:hover {
    border: 1px solid #54078f;
}
.dollar-div{
    background-color: #54078f;
    padding: 12px;
    border-radius: 8px;
}
.round-div{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dollar{
    font-size: 16px !important;
    color: #54078f !important;
    font-weight: bold !important;
}


.current-balance{
    font-size: 15px;
    color: #272727;
    font-weight: normal;
}
.amount{
    color: #54078f;
    font-size: 16px;
    font-weight: bold;
}
.dollar-sign{
    font-size: 16px;
    color: #272727;
    font-weight: bold;
}

.recent-border{
    border-left: 2px solid #54078f;
    display: flex;
    align-items: center;

}
.recent-border:hover {
    border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
    font-size: 16px;
    font-weight: 700;
    color: #54078f;
    margin-left: 2px;
}

.wishlist{
    font-size: 16px;
    font-weight: 700;
    color: #272727;

}
.wishlist-border:hover{
    border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
    font-size: 16px;
    font-weight: 700;
    color: #272727;
}
.fashion-studio-border:hover {
    border-bottom: 1px solid #dee2e6!important;
}

.actions{
    margin-top: 10px;
}

.link{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
    color: #272727;
    font-weight:  normal;
}

.link i{
    margin-right: 5px;
}

.link:hover {
    border-bottom: 1px solid #dee2e6!important;
}

.link.signout{
    background: #f5dd48;
    text-align: center;
    line-height: 30px;
    height: 40px;
    margin-left:  8px;
    margin-right:  8px;
}

.alert{
    margin-top: 5px;
    margin-bottom:  0;
    height: 60px;
    padding: 2px;
    padding-left: 70px;
    padding-right: 3px;
    border-radius: 10px;
}
.alert-warning:before{
    background-color: #ffc107;
}
.alert small{
    display: block;
    line-height: normal;
}
