.avatar-profile{
    margin-top: -2px;
    border-radius: 100%;
}
.avatar-content{
	padding-right: 0;
    padding-left: 0;
}
.header-mobile__logo.left{
	left:50px;
}
#btnAuth{
	margin-top: -10px !important;
	color: #0c2461;
    background-color: #ffc107;
    border-color: transparent;
	font-size: 11px;
    padding: 7px 20px;
    font-weight: bold;
}

#btnRegister{
	margin-top: -10px !important;
	color: #fff;
    background-color: transparent;
    border-color: transparent;
	font-size: 11px;
    padding: 7px 20px;
    font-weight: bold;
	margin-right:5px;
}
#btnDeposit{
	margin-right: 2px;
    color: #8bc34a;
    padding: 3px;
    font-size: 11px;
}