<aside id="listCard" class="widget widget--sidebar widget-standings unselectable">
	<div class="widget__content card__content">
		<h6 class="title">
			Minhas transações
		</h6>
		<div class="warning-msg" *ngIf="transactions.length == 0">
			Nenhuma transação encontrada
		</div>
		<div class="row transactionDetail" *ngFor="let transaction of transactions" id="op_{{transaction.operation_id}}">
											 <div class="col-7 col-left">
												 <div class="info">
													 {{convertTimeStampToDate(transaction.createdAt) | date}}
													 <small [ngStyle]="{'color': transaction.type | transactionDetails:'Status':'color' }">{{transaction.type | transactionDetails:'Type'}}</small>
												 </div>
											 </div>
											 <div class="col-5 col-right">
												 <div class="info">
												 {{transaction.amount | currency:"BRL" }}
													 <small class="status">{{transaction.status | transactionDetails:'Status'}} <i class="fas fa-circle" [ngStyle]="{'color': transaction.status | transactionDetails:'Status':'color' }"></i></small>
												 </div>
											 </div>
										   </div>
	</div>
	<div class="list-card-bottom" *ngIf="transactions.length > 0">
		<h6 class="sub-title">
			10 últimas transações
		</h6>
		<button class="btn-view-all-transactions">
			ver todas
		</button>
	</div>
</aside>