<h4 class="section-title">
	{{sectionTitle}}
</h4>
<aside class="widget widget--sidebar widget-standings unselectable">
                        <!--<div class="widget__title card__header card__header--has-btn">
                           <h4>West League 2018</h4>
                           <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">See All Stats</a>
                        </div>-->
                        <div class="widget__content card__content">
                           <div class="table-responsive" *ngFor='let championship of games; let i=index;'>
							   <h5 class="subsection-title">
								   {{championship.championship}} {{championship.games.length}}
							   </h5>
                              <table class="table table-hover table-standings table-game bg-gradient">
                                 <thead>
                                    <tr>
                                       <th><div class="row">
											   <div class="col-6">
												
											   </div>
										   <div class="col-2" style="text-align:center;">
												1
											   </div>
										   <div class="col-2" style="text-align:center;">
												x
											   </div>
										   <div class="col-2" style="text-align:center;">
												2
											   </div>
										   </div></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor='let game of championship.games; let i=index;'>
                                       <td>
                                          <div class="team-meta" style="text-align:left;">
                                             <div class="team-meta__info">
                                                <h6 class="no-bold">{{game.host}} <br> {{game.guest}}</h6>
                                             </div>
                                          </div>
										   <div class="row">
											   <div class="col-6 game-datetime-info">
												   <span class="date">{{this.gameService.gameDay(game.date)}}</span> - {{this.gameService.gameTime(game.time)}}
											   </div>
											   <div class="col-2">
												   <button (click)="this.betService.setBet(game.mainOdds.host.tokenAction, 'host', game, $event)" [ngStyle]="this.gameService.getOddsButtonColor(game.mainOdds.host.odds)" [ngClass]="this.gameService.getBetClass(game.id, 'host')">{{this.gameService.setOdd(game.mainOdds.host.odds)}}</button>
											   </div>
											   <div class="col-2">
												   <button (click)="this.betService.setBet(game.mainOdds.draw.tokenAction, 'draw', game, $event)" [ngStyle]="this.gameService.getOddsButtonColor(game.mainOdds.draw.odds)" [ngClass]="this.gameService.getBetClass(game.id, 'draw')">{{this.gameService.setOdd(game.mainOdds.draw.odds)}}</button>
											   </div>
											   <div class="col-2">
												   <button (click)="this.betService.setBet(game.mainOdds.guest.tokenAction, 'guest', game, $event)" [ngStyle]="this.gameService.getOddsButtonColor(game.mainOdds.guest.odds)" [ngClass]="this.gameService.getBetClass(game.id, 'guest')">{{this.gameService.setOdd(game.mainOdds.guest.odds)}}</button>
											   </div>
										   </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </aside>