.team-meta__info{
	text-align:left;
}
.team-meta__info h6{
	text-transform:capitalize;
	font-size:13px;
}

.team-meta__info img{
	filter: brightness(0) invert(1);
    width: 40px;
	margin: 5px 0 5px;
}
.section-title{
	font-style:italic;
}

.table-game{
	margin-bottom:10px;
	background: #1b2125;
	/*border-top: 3px solid #173580;*/
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.table-game.h tr>td:nth-child(1), .table-game.h tr>td:nth-child(3){
	width:35%;
}

.table-game.h tr>td:nth-child(2){
	width:30%;
	padding-left: 0px !important; 
    padding-right: 0px !important;
	font-family: Exo\ 2,sans-serif;
}
.table-game.h tr>td:nth-child(2) h3{
font-style:italic;
}
.table-game.h tr.game-team>td{
    padding-bottom: 0px;
}
.table-game.h tr.game-odds>td{
    padding: 10px;
}

.table-game.h tr>td h3{
margin-bottom: 0;
}

.table-game tr>td button{
	border: 0;
	width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
	/*border-bottom:2px solid #fff;*/
	background: rgba(0,0,0,0.2);/*#0c2461;*/
	border:none !important;
	font-weight: bold;
	text-align: center;
}

.table-game tr>td button:hover{
	background: rgba(0,0,0, 0.3);
    border: none !important;
    outline: none !important;
    color: #ffffff !important;
}

.game-datetime-info{
	text-align:left;
}

button.active{
	background: rgb(249 190 20) !important;
    border: none !important;
    outline: none !important;
    color: #06102a !important;
}