#common-header-mobile{
	height: 65px;
}
#btnClose{
	margin-top: -10px !important;
    color: #e0e0e0;
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    padding: 10px;
    font-weight: normal;
    margin-right: 8px;
}

.c-header-logo img{
	width:50px;
	margin-top: 5px;
    margin-left: 8px;
}

.c-header-center{
	padding-top: 20px;
    text-align: center;
}

.c-header-center h4{
	font-size:18px;
}

.c-header-right{
	padding-top: 18px;
    text-align: right;
}