<div class="header-mobile clearfix unselectable" id="common-header-mobile">
	<div class="row">
		<div class="col-3 c-header-logo">
			<span
				><img
					src="assets/images/brand/dg-logo001.png"
					srcset="assets/images/brand/dg-logo001.png 2x"
					alt="DeuGol"
			/></span>
		</div>

		<div class="col-6 c-header-center">
			<h4>{{pageTitle}}</h4>
		</div>

		<div class="col-3 c-header-right">
			<button class="btn btn-sm" id="btnClose" (click)="close()">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
</div>