<div>
                           <!-- Slider -->
                           <div class="slick posts posts--slider-featured posts-slider posts-slider--center">
                              <div class="posts__item posts__item--category-1">
                                 <a href="#" class="posts__link-wrapper">
                                    <figure class="posts__thumb"><img src="assets/images/soccer/samples/post-slide7.jpg" alt=""></figure>
                                    <div class="posts__inner">
                                       <div class="posts__cat"><span class="label posts__cat-label">The Team</span></div>
                                       <h3 class="posts__title">The Planettroters will <span class="posts__title-higlight">perform this May 4th</span> at Madison Cube</h3>
                                       <div class="post-author">
                                          <figure class="post-author__avatar"><img src="assets/images/samples/avatar-4.jpg" alt="Post Author Avatar"></figure>
                                          <div class="post-author__info">
                                             <h4 class="post-author__name">Jesse Stevens</h4>
                                             <time datetime="2017-08-28" class="posts__date">August 28th, 2018</time>
                                          </div>
                                       </div>
                                    </div>
                                 </a>
                              </div>
                           </div>
                           <!-- Slider / End -->
                        </div>