<div class="storyBook">
	<div class="item">
		<div class="view"></div>
		<span class="label">Ganhe até R$500</span>
	</div>
	<div class="item">
		<div class="view"></div>
		<span class="label">#EuDeIphone13</span>
	</div>
	<div class="item">
		<div class="view"></div>
		<span class="label">Ganhe até 20mil</span>
	</div>
	<div class="item">
		<div class="view"></div>
		<span class="label">DeuGol</span>
	</div>
	<div class="item">
		<div class="view"></div>
		<span class="label" style="background-color: #aaa;">Ganhe até 20mil</span>
	</div>
</div>