<div class="boxbonus"
		swipe 
		(next)="setCurPage(curPage+1)"
		(previous)="setCurPage(curPage-1)"
		[ngClass]="[loading ? 'loading' : 'visible']"
		*ngIf="haveBanners"
		>
		<div class="banner-content"
		*ngFor='let promoBanner of getCurrentPromoBanners(); let i=index;'
		[style]="promoBanner.bg">
                        <h4>{{promoBanner.text}}</h4>
                        <div class="footer"><button class="btn" (click)="setAction(promoBanner.action)">{{promoBanner.actionText}}</button></div>
                    </div>
                     </div>
	<div class="paginator"
		*ngIf="promoBanners.length > 1"><!--
		{{numberOfPages()}}-->
	<ul>
		<li *ngFor='let promoBanners of promoBanners; let i=index;' [ngClass]="[i==curPage ? 'active' : '']" (click)="setCurPage(i);"></li>
	</ul>
			</div>