<h4 class="section-title" *ngIf="sectionTitle">
	{{sectionTitle}}
</h4>
<aside class="featured-games-items widget widget--sidebar widget-standings unselectable bgx-gradient">
	<div class="featured-game-item">
		<img src="/assets/images/featuredgames/c84dcb96-06bb-4377-a0a7-3b561fac92f8.png" />
	</div><div class="featured-game-item">
		<img src="/assets/images/featuredgames/dcb0a0c8-86e4-4f81-a738-46fb29bf7c6a.png" />
	</div><div class="featured-game-item">
		<img src="/assets/images/featuredgames/624b2c4e-24c0-4597-a84a-8da5a8aaabbc.png" />
	</div>
</aside>
<div><iframe
	[src]="urlMap"
	width="100%"
	height="450"
	frameborder="0"
	style="border:0"
	allowfullscreen
  ></iframe></div>