.team-meta__info {
  text-align: center;
}
.team-meta__info h6 {
  text-transform: capitalize;
}

.featured-games-items {
  border-radius: 5px;
}
.featured-game-item {
  display: inline-block;
  width: 30%;
  margin: 5px;
}
.featured-game-item img {
  width: 100%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.section-title {
  font-style: italic;
}

.featured-game {
  margin-bottom: 10px;
  background: #1b2125;
  /*border-top: 3px solid #173580;*/
  border-radius: 10px;
  transition: opacity 1s ease-out;
  min-height: 145px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.featured-game.loading {
  /*background-image:url('/assets/images/loading_bar.gif');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
  background: linear-gradient(#313641, #191d22);
  background-size: 1px 200px !important;
}

.featured-game.loading tbody {
  animation: fade-out 1s;
}

.featured-game.visible tbody {
  animation: fade-in 2s;
}

.featured-game.h tr > td:nth-child(1),
.featured-game.h tr > td:nth-child(3) {
  width: 35%;
}

.featured-game.h tr > td:nth-child(2) {
  width: 30%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-family: Exo\2, sans-serif;
}
.featured-game.h tr > td:nth-child(2) h3 {
  font-style: italic;
}
.featured-game.h tr.game-team > td {
  padding-bottom: 0px;
}
.featured-game.h tr.game-odds > td {
  padding: 10px;
}

.featured-game.h tr > td h3 {
  margin-bottom: 0;
}

.featured-game tr > td button {
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  /*border-bottom:2px solid #fff;*/
  background: rgba(0, 0, 0, 0.2); /*#0c2461;*/
  border: none !important;
  font-weight: bold;
}

.featured-game tr > td button:focus,
.featured-game tr > td button:focus-visible,
.featured-game tr > td button:hover {
  background: rgb(249 190 20);
  border: none !important;
  outline: none !important;
  color: #06102a !important;
}

.paginator ul {
  list-style: none;
  padding-left: 5px !important;
}
.paginator ul li {
  width: 10px;
  height: 10px;
  background: #27313b;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
}
.paginator ul li.active {
  width: 20px;
  height: 10px;
  background: #9e9e9e;
  border-radius: 10px;
}
